.container {
    position: relative;
    min-height: calc(100vh - 250px);
    overflow-x: hidden;
    display: block;
    top: 72px;
    padding: 0 calc(3.5vw + 5px);

    .background {
        left: 0px;
        opacity: 0.8;
        position: fixed;
        right: 0px;
        top: 0px;
        z-index: -1;

        img {
            width: 100vw;
            height: 100vh;

            @media (max-width: 768px) {
                object-fit: cover;
            }
        }
    }

    .imageTitle {
        align-items: flex-end;
        display: flex;
        -webkit-box-pack: start;
        justify-content: flex-start;
        margin: 0 auto;
        min-height: 170px;
        padding-bottom: 24px;
        width: 100%;

        img {
            max-width: 600px;
            min-width: 200px;
            width: 35vw;
        }
    }

    .contentMeta {
        max-width: 874px;

        .controls {
            align-items: center;
            display: flex;
            flex-flow: row nowrap;
            margin: 24px 0px;
            min-height: 56px;

            .player {
                font-size: 15px;
                margin: 0px 22px 0px 0px;
                padding: 0 24px;
                height: 56px;
                border-radius: 4px;
                align-items: center;
                cursor: pointer;
                display: flex;
                justify-content: center;
                letter-spacing: 1.8px;
                text-align: center;
                text-transform: uppercase;
                background: rgb(249, 249, 249);
                border: none;
                color: rgb(0, 0, 0);

                img {
                    width: 32px;
                }

                &:hover {
                    background: rgb(198, 198, 198);
                }

                @media (max-width: 768px) {
                    height: 45px;
                    padding: 0 12px;
                    font-size: 12px;
                    margin: 0px 10px 0px 0px;

                    img {
                        width: 25px;
                    }
                }
            }

            .trailer {
                font-size: 15px;
                margin: 0px 22px 0px 0px;
                padding: 0 24px;
                height: 56px;
                border-radius: 4px;
                align-items: center;
                cursor: pointer;
                display: flex;
                justify-content: center;
                letter-spacing: 1.8px;
                text-align: center;
                text-transform: uppercase;
                background: rgb(249, 249, 249);
                border: none;
                color: rgb(0, 0, 0);

                img {
                    width: 32px;
                }

                &:hover {
                    background: rgb(198, 198, 198);
                }

                @media (max-width: 768px) {
                    height: 45px;
                    padding: 0 12px;
                    font-size: 12px;
                    margin: 0px 10px 0px 0px;

                    img {
                        width: 25px;
                    }
                }

                background: rgba(0, 0, 0, 0.3);
                border: 1px solid rgb(249, 249, 249);
                color: rgb(249, 249, 249);
            }

            .addList {
                margin-right: 16px;
                height: 44px;
                width: 44px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.6);
                border-radius: 50%;
                border: 2px solid green;
                cursor: pointer;

                span {
                    background-color: green;
                    display: inline-block;

                    &:first-child {
                        height: 2px;
                        transform: translate(1px, 0px) rotate(0deg);
                        width: 16px;
                    }

                    &:nth-child(2) {
                        height: 16px;
                        transform: translateX(-8px) rotate(0deg);
                        width: 2px;
                    }
                }

                &:hover {
                    background: rgb(198, 198, 198);
                }
            }

            .removeList {
                margin-right: 16px;
                height: 44px;
                width: 44px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.6);
                border-radius: 50%;
                border: 2px solid red;
                cursor: pointer;

                span {
                    background-color: red;
                    display: inline-block;

                    &:first-child {
                        height: 2px;
                        transform: translate(1px, 0px) rotate(0deg);
                        width: 16px;
                    }

                    // &:nth-child(2) {
                    //     height: 16px;
                    //     transform: translateX(-8px) rotate(0deg);
                    //     width: 2px;
                    // }
                }

                &:hover {
                    background: rgb(198, 198, 198);
                }
            }

            .groupWatch {
                height: 44px;
                width: 44px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                background: white;

                div {
                    height: 40px;
                    width: 40px;
                    background: rgb(0, 0, 0);
                    border-radius: 50%;

                    &:hover {
                        background: rgb(198, 198, 198);
                    }
                }

                img {
                    width: 100%;
                }
            }
        }

        .subTitle {
            color: rgb(249, 249, 249);
            font-size: 15px;
            min-height: 20px;

            @media (max-width: 768px) {
                font-size: 12px;
            }
        }

        .description {
            line-height: 1.4;
            font-size: 20px;
            padding: 16px 0px;
            color: rgb(249, 249, 249);

            @media (max-width: 768px) {
                font-size: 14px;
            }
        }
    }

}