.container {
    position: relative;
    overflow-x: hidden;
    display: block;
    top: 70px;
    height: calc(100vh - 70px);
    // padding: 0 calc(3.5vw + 5px);
    display: flex;
    justify-content: center;
    align-items: center;
}